services:
  mariadb:
    image: mariadb:latest
    command: mariadbd --skip-innodb-snapshot-isolation --max-allowed-packet=26777216
    volumes:
      - data:/var/lib/mysql
    networks:
      - domserver
    environment:
      # The passwords shouldn't really be plain-text but the db is only accessible by domserver, so it should be fine
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_USER: domjudge
      MYSQL_PASSWORD: djpw
      MYSQL_DATABASE: domjudge
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
  domserver:
    build: 
      context: ./
      dockerfile: ./DOMServerDockerfile
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - domserver
      - judgehosts
    environment:
      MYSQL_HOST: mariadb
      MYSQL_USER: domjudge
      MYSQL_DATABASE: domjudge
      MYSQL_PASSWORD: djpw
      MYSQL_ROOT_PASSWORD: rootpw
      CONTAINER_TIMEZONE: America/New_York
    ports:
      # exposed on port 80, which is the default http port
      - "80:80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 2m
    secrets:
      - apipassword
      - adminpassword
  judgehost:
    build: 
      context: ./
      dockerfile: ./JudgeHostDockerfile
    # must be privileged in order to set limits
    privileged: true
    cgroup: host
    networks:
      - judgehosts
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup
    depends_on:
      domserver:
        condition: service_healthy
    deploy:
      replicas: 4
    secrets:
      - apipassword
    environment:
      CONTAINER_TIMEZONE: "America/New_York"
      JUDGEDAEMON_PASSWORD_FILE: /run/secrets/apipassword
  javadoc:
    build: 
      context: ./documentation
      dockerfile: ./JavaDockerfile
    ports:
      - "7000:80"
  python:
    build: 
      context: ./documentation
      dockerfile: ./PythonDockerfile
    ports:
      - "7001:80"
  cpp:
    build: 
      context: ./documentation
      dockerfile: ./CppDockerfile
    ports:
      - "7002:80"

secrets:
  # The passwords in these files should be changed
  apipassword:
    file: ./apipassword.txt
  adminpassword:
    file: ./adminpassword.txt

volumes:
  data:

# The networks isolate the db and the judgehosts because the judgehosts run untrusted code
networks:
  domserver:
    driver: bridge
  judgehosts:
    driver: bridge
